In [3]:
import numpy as np
import pandas as pd

In [5]:
from numpy.random import randn

In [6]:
np.random.seed(101)

In [7]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [8]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [55]:
df.loc[[df['X'].idxmax()],['X']]

          X
E  1.978757

In [16]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [32]:
df.loc[['A','B']]

          W         X         Y         Z        A1
A  2.706850  0.628133  0.907969  0.503826  0.124307
B  0.651118 -0.319318 -0.848077  0.605965 -0.925283

In [18]:
df['A1'] = df['X'] - df['Z']

In [19]:
df

          W         X         Y         Z        A1
A  2.706850  0.628133  0.907969  0.503826  0.124307
B  0.651118 -0.319318 -0.848077  0.605965 -0.925283
C -2.018168  0.740122  0.528813 -0.589001  1.329123
D  0.188695 -0.758872 -0.933237  0.955057 -1.713929
E  0.190794  1.978757  2.605967  0.683509  1.295248

In [63]:
df.loc[[df['A1'].idxmax()],['Z','A1']]

          Z        A1
C -0.589001  1.329123

In [65]:
df.loc[['C','E'],['X','Z']]

          X         Z
C  0.740122 -0.589001
E  1.978757  0.683509

In [68]:
df.loc[[df['Y'].idxmax()],['Y','X','A1']]

          Y         X        A1
E  2.605967  1.978757  1.295248

In [40]:
df[['Z','A1']].corr()

           Z        A1
Z   1.000000 -0.649358
A1 -0.649358  1.000000

In [31]:
df

          W         X         Y         Z        A1
A  2.706850  0.628133  0.907969  0.503826  0.124307
B  0.651118 -0.319318 -0.848077  0.605965 -0.925283
C -2.018168  0.740122  0.528813 -0.589001  1.329123
D  0.188695 -0.758872 -0.933237  0.955057 -1.713929
E  0.190794  1.978757  2.605967  0.683509  1.295248

In [26]:
df.loc['C','Y']

0.5288134940893595

In [30]:
df.loc[['A','B'],['X','Z']]

          X         Z
A  0.628133  0.503826
B -0.319318  0.605965