In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [8]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index1 = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index1)

In [5]:
inside

[1, 2, 3, 1, 2, 3]

In [11]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [12]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [13]:
df

             A         B
G1 1 -1.095218  0.282458
   2  1.387542  0.993759
   3 -1.791172 -0.385143
G2 1 -1.190839 -0.797356
   2 -1.180009  0.960056
   3 -0.169313  1.461381

In [16]:
df.loc['G1',1]['B']

0.2824580611426161

In [25]:
df.loc['G2',2]['B']

0.960056266836863