___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [36]:
sal=pd.read_csv('Salaries.csv')

In [178]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Title_len
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,31
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,31
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,36
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN,9
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,12
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,12
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,12
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN,26

** Check the head of the DataFrame. **

In [182]:
def deputies(title):
    if 'deputy' in title.lower().split():
        return True
    else:
        return False

In [186]:
sal[sal['JobTitle'].apply(lambda x : deputies(x) )]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Title_len
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,44
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN,25
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN,30
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.0,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN,36
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.0,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145943,145944,Lawrence E Thompson,Deputy Sheriff,0.00,0.0,0.00,4659.36,0.00,4659.36,2014,NaN,San Francisco,NaN,14
146198,146199,Gregory Gordon,Deputy Probation Officer,2920.50,0.0,0.00,1114.34,2920.50,4034.84,2014,NaN,San Francisco,NaN,24
146259,146260,Jerome V Javier,Deputy Sheriff,0.00,0.0,3884.69,0.00,3884.69,3884.69,2014,NaN,San Francisco,NaN,14
146584,146585,Pauline M Taini,Deputy Probation Officer,3195.37,0.0,0.00,0.00,3195.37,3195.37,2014,NaN,San Francisco,NaN,24
148489,148490,Martha Y Ortega,Deputy Sheriff,0.00,0.0,166.03,0.00,166.03,166.03,2014,NaN,San Francisco,NaN,14

** Use the .info() method to find out how many entries there are.**

In [28]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [88]:
sal.loc[[4],['EmployeeName']]

      EmployeeName
4  PATRICK GARDNER

** What is the highest amount of OvertimePay in the dataset ? **

In [46]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPay']

24    270324.91
Name: TotalPay, dtype: float64

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [53]:
sal.loc[sal['TotalPay'].idxmax()]['EmployeeName']

'NATHANIEL FORD'

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [189]:
sal.loc[[sal['TotalPay'].idxmin()],['EmployeeName','TotalPay']]

       EmployeeName  TotalPay
148653    Joe Lopez   -618.13

** What is the name of highest paid person (including benefits)?**

In [188]:
sal.groupby('Year').mean().iloc[[2,3]]['BasePay']

Year
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [124]:
#sal['JobTitle'].nunique() 
len(sal['JobTitle'].unique)

TypeError: object of type 'method' has no len()

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [127]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many unique job titles are there? **

In [142]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

** What are the top 5 most common jobs? **

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [150]:
def chiefs(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [152]:
sum(sal['JobTitle'].apply(lambda title : chiefs(title)))

477

In [163]:
sal['Title_len'] = sal['JobTitle'].apply(len)

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [167]:
sal[['TotalPayBenefits','Title_len']].corr()

                  TotalPayBenefits  Title_len
TotalPayBenefits          1.000000  -0.036878
Title_len                -0.036878   1.000000

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!